In [1]:
import pandas as pd
import numpy as np

In [2]:
android_app=pd.read_csv("googleplaystore.csv")

# Transform the Android Table

In [3]:
android=android_app[['App','Reviews','Rating','Genres','Installs']]

In [4]:
android=android.dropna()

In [5]:
#Sort by the name, and observed that there are duplicated apps being rated multiple times i.e same names appears multiple times with the same or different reviews and ratings
android=android.sort_values("App")
#Trim the spaces of all the columns, covert all columns to a string datatype at this point
android['App']=android['App'].str.strip()
android['Reviews']=android['Reviews'].str.strip()
android['Rating']=android['Rating'].astype(str).str.strip()
android['Genres']=android['Genres'].str.strip()
android['Installs']=android['Installs'].str.strip()
#Change the app name case to a lower case prepare for the further duplicates removal
android['App']=android['App'].str.lower()

In [6]:
#The methodology is if there are duplicated names, we want to take the best reviews and ratings as the result of this app 
#so we created two extra columns and groupby app names to store the max review and ratings
android[['Reviews_max', 'Ratings_max']]=android.groupby('App')['Reviews', 'Rating'].transform('max')

In [7]:
#and then we use the max review and ratings as the new review columns and rating columns and prepare for the duplicate removal
new_android=android[['App','Reviews_max','Ratings_max','Genres','Installs']]

In [8]:
android_table=new_android.drop_duplicates().reset_index(drop=True)
android_table.head(5)

,App,Reviews_max,Ratings_max,Genres,Installs
0,+download 4 instagram twitter,40467,4.5,Social,"1,000,000+"
1,- free comics - comic apps,115,3.5,Comics,"10,000+"
2,.r,259,4.5,Tools,"10,000+"
3,/u/app,573,4.7,Communication,"10,000+"
4,058.ba,27,4.4,News & Magazines,100+

In [9]:
android_table=android_table.rename(columns={"App":"App Name","Reviews_max":"Total_Reviews","Ratings_max":"Ratings"})

In [10]:
android_table.head(5)

,App Name,Total_Reviews,Ratings,Genres,Installs
0,+download 4 instagram twitter,40467,4.5,Social,"1,000,000+"
1,- free comics - comic apps,115,3.5,Comics,"10,000+"
2,.r,259,4.5,Tools,"10,000+"
3,/u/app,573,4.7,Communication,"10,000+"
4,058.ba,27,4.4,News & Magazines,100+

In [11]:
#To fix that, we need to change 3.0M to 3,000,000
android_table.loc[android_table.Total_Reviews=='3.0M','Total_Reviews']=3000000

In [12]:
#now we are happy
android_table['Total_Reviews']=pd.to_numeric(android_table['Total_Reviews'])

In [13]:
%timeit (android_table["Installs"]).str.replace('+','')

2.71 ms ± 27 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
android_table.head()

,App Name,Total_Reviews,Ratings,Genres,Installs
0,+download 4 instagram twitter,40467,4.5,Social,"1,000,000+"
1,- free comics - comic apps,115,3.5,Comics,"10,000+"
2,.r,259,4.5,Tools,"10,000+"
3,/u/app,573,4.7,Communication,"10,000+"
4,058.ba,27,4.4,News & Magazines,100+

In [15]:
# cleaning the table
final= android_table.sort_values(["Total_Reviews","Ratings"], ascending=False).reset_index(drop=True)

In [16]:
final.head()

,App Name,Total_Reviews,Ratings,Genres,Installs
0,facebook,78158306,4.1,Social,"1,000,000,000+"
1,whatsapp messenger,69119316,4.4,Communication,"1,000,000,000+"
2,instagram,66577446,4.5,Social,"1,000,000,000+"
3,messenger – text and video chat for free,56646578,4.0,Communication,"1,000,000,000+"
4,clash of clans,44893888,4.6,Strategy,"100,000,000+"

In [17]:
x= final['App Name'].head(10).values
y=final['Total_Reviews'].head(10).values/1000000
y= y.astype(int)

In [18]:
final['App Name']=final['App Name'].str.title()
final.head(10)
#x=final[['App Name']].head(10)
#y=final[['Total_Reviews']].head(10)
#x=x.values
#y=y.values.tolist()

a=','.join(x)
b=','.join(y.astype(str))

In [19]:
#export_csv=final.to_csv("datagoogle.csv")
from flask import Flask, flash, redirect, render_template, request, session, jsonify, Markup, abort

app = Flask(__name__)

In [20]:
#taking mean of ratings.
#Ratings_df = app_overall[['Ratings_x', 'Ratings_y']].mean(axis=1)

In [ ]:
@app.route('/')
def home():
  #dat=jsonText
  #return “Hello”
  return render_template("google.html",dat=Markup(a), mat=b)

if __name__ == "__main__":
  app.run(debug=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET /static/css/style.css HTTP/1.1" 304 -
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET /static/js/data.js HTTP/1.1" 304 -
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET /static/js/app.js HTTP/1.1" 304 -
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET /static/js/plot.js HTTP/1.1" 404 -
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET /static/images/playstore.png HTTP/1.1" 304 -
127.0.0.1 - - [09/Jun/2019 14:20:12] "GET /static/js/plot.js HTTP/1.1" 404 -
127.0.0.1 - - [09/Jun/2019 14:20:41] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Jun/2019 14:20:41] "GET /static/js/plot.js HTTP/1.1" 404 -
127.0.0.1 - - [09/Jun/2019 14:20:42] "GET /static/js/plot.js HTTP/1.1" 404 -
127.0.0.1 - - [09/Jun/2019 14:57:44] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Jun/2019 14:57:44] "GET /static/js/plot.js HTTP/1.1" 404 -
127.0.0.1 - - [09/Jun/2019 14:57:44] "GET /static/js/plot.js HTTP/1.1" 404 -

In [ ]:
#add a column for best reviews 
#app_overall['Best_Reviews'] = Reviews_df

In [ ]:
#add a column for best rating
#app_overall['Best Ratings'] =Ratings_df

In [ ]:
#app_overall.head()

In [ ]:

#clean_tab = app_overall.drop(['Total_Reviews_x','Total_Reviews_y','Ratings_x','Ratings_y','Genres_y'],axis=1)

In [ ]:
#clean_tab.head()

In [ ]:
#rename the column for genress
#final=clean_tab.rename(columns={"Genres_x":"Genres"})

In [ ]:
#final.head()